@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f5f5f5;
  padding: 3vh;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex: 0 1 117vmin;
  max-width: 100%;
  min-height: 100%;
}
.wrapper .wrapper__row {
  flex: 1 1 auto;
  display: flex;
}
.wrapper .wrapper__row .wrapper__column-left {
  width: 21vmin;
  margin-right: 2vh;
  background: #ffffff;
  border-radius: 1.5vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top {
  margin-bottom: 2vh;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child {
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 140%;
  background: none;
  margin: 0 0 2.5vh 0;
  background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:last-child {
  margin: 0 0 0 0;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(2) {
  background: #ffffff url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(2):hover {
  background: #f8fafd url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3) {
  color: #c3c6ca;
  background: url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3):hover {
  background: #f8fafd url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4) {
  background: #F3F5F8 url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4):after {
  content: "new";
  font-size: 0.8em;
  color: #a1e083;
  position: absolute;
  right: 1vh;
  top: 0;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4):hover {
  background: #f8fafd url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5) {
  color: #c3c6ca;
  background: url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5):hover {
  background: #f8fafd url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6) {
  color: #c3c6ca;
  background: url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6):hover {
  background: #f8fafd url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7) {
  color: #c3c6ca;
  background: url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7):hover {
  background: #f8fafd url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8) {
  color: #c3c6ca;
  background: url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8):hover {
  background: #f8fafd url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9) {
  color: #c3c6ca;
  background: url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9):hover {
  background: #f8fafd url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1) {
  color: #c3c6ca;
  background: url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1):hover {
  background: #f8fafd url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child {
  color: #c3c6ca;
  margin: 0 0 0 0;
  background: url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child:hover {
  background: #f8fafd url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 68vmin;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .header {
  width: 100%;
  height: 7vh;
  margin: 0 0 2vh 0;
  padding: 1.5vh;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .header__row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left {
  height: 100%;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
  height: 100%;
  position: relative;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 3vh;
  position: absolute;
  left: 0.4vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
  width: 27.777vh;
  height: 100%;
  background: #F5F4F6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.6vh;
  line-height: 100%;
  padding: 0 0 0 4vh;
  caret-color: #EF9011;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
  cursor: pointer;
  height: 100%;
  width: 1.85vh;
  margin-right: 2vh;
  background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
  height: 4.444vh;
  width: 4.444vh;
  background: url("../img/profile.png") 50%/4.444vh no-repeat;
  border-radius: 50%;
}
.wrapper .wrapper__row .wrapper__column-right .content {
  flex: 1 1 85vh;
  border-radius: 1.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .wrapper__row .wrapper__column-right .content .container h1 {
  margin-bottom: 2.777vh;
  font-size: 2.777vh;
  font-weight: 700;
  line-height: 130%;
  color: #242731;
}

@media (max-width: 1023px) {
  body {
    padding: 3vw;
  }
  .wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .wrapper .wrapper__row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper .wrapper__row .wrapper__column-left {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #ffffff;
    border-radius: 1.5vh;
    padding: 2vh 1.5vh;
    margin: 0 0 2vmin 0;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item {
    width: 100%;
    padding: 0 0 0 3.5vh;
    position: relative;
    border-radius: 0;
    font-weight: 500;
    font-size: 1.4vh;
    line-height: 250%;
    color: #5F6165;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child {
    font-size: 2.5vh;
    font-weight: 700;
    line-height: 100%;
    background: none;
    margin: 0 0 0 0;
    background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child:after {
    content: "";
    width: 2.5vh;
    height: 2.5vh;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/burger.svg") 0 50%/2.5vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .blank {
    display: none;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom {
    display: none;
  }
  .wrapper .wrapper__row .wrapper__column-right {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    overflow: hidden;
    border-radius: 1.5vh;
  }
  .wrapper .wrapper__row .wrapper__column-right .header {
    width: 100%;
    height: 7vh;
    margin: 0 0 2vmin 0;
    padding: 1.5vh;
    border-radius: 1.5vh;
    background: #ffffff;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left {
    height: 100%;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
    height: 100%;
    position: relative;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 3vh;
    position: absolute;
    left: 0.4vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
    max-width: 23.777vh;
    height: 100%;
    background: #F5F4F6;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6vh;
    line-height: 100%;
    padding: 0 0 0 4vh;
    caret-color: #EF9011;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
    cursor: pointer;
    height: 100%;
    width: 1.85vh;
    margin-right: 2vh;
    background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
    height: 4.444vh;
    width: 4.444vh;
    background: url("../img/profile.png") 50%/4.444vh no-repeat;
    border-radius: 50%;
  }
  .wrapper .wrapper__row .wrapper__column-right .content {
    width: 100%;
    flex: 1 1 auto;
    border-radius: 1.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-3 {
    width: 93.6vw;
    overflow: hidden;
    border-radius: 1.5vh;
  }
}