@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f5f5f5;
  padding: 3vh;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex: 0 1 117vmin;
  max-width: 100%;
  min-height: 100%;
}
.wrapper .wrapper__row {
  flex: 1 1 auto;
  display: flex;
}
.wrapper .wrapper__row details {
  display: none;
}
.wrapper .wrapper__row .wrapper__column-left {
  width: 21vmin;
  margin-right: 2vh;
  background: #ffffff;
  border-radius: 1.5vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top {
  margin-bottom: 2vh;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child {
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 140%;
  background: none;
  margin: 0 0 2.5vh 0;
  background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:last-child {
  margin: 0 0 0 0;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(2) {
  background: #ffffff url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(2):hover {
  background: #f8fafd url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3) {
  color: #c3c6ca;
  background: url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3):hover {
  background: #f8fafd url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4) {
  background: #F3F5F8 url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4):after {
  content: "new";
  font-size: 0.8em;
  color: #a1e083;
  position: absolute;
  right: 1vh;
  top: 0;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4):hover {
  background: #f8fafd url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5) {
  color: #c3c6ca;
  background: url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5):hover {
  background: #f8fafd url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6) {
  color: #c3c6ca;
  background: url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6):hover {
  background: #f8fafd url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7) {
  color: #c3c6ca;
  background: url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7):hover {
  background: #f8fafd url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8) {
  color: #c3c6ca;
  background: url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8):hover {
  background: #f8fafd url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9) {
  color: #c3c6ca;
  background: url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9):hover {
  background: #f8fafd url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1) {
  color: #c3c6ca;
  background: url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1):hover {
  background: #f8fafd url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child {
  color: #c3c6ca;
  margin: 0 0 0 0;
  background: url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child:hover {
  background: #f8fafd url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 68vmin;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .header {
  width: 100%;
  height: 7vh;
  margin: 0 0 2vh 0;
  padding: 1.5vh;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .header__row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left {
  height: 100%;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
  height: 100%;
  position: relative;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 3vh;
  position: absolute;
  left: 0.4vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
  width: 27.777vh;
  height: 100%;
  background: #F5F4F6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.6vh;
  line-height: 100%;
  padding: 0 0 0 4vh;
  caret-color: #EF9011;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
  cursor: pointer;
  height: 100%;
  width: 1.85vh;
  margin-right: 2vh;
  background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
  height: 4.444vh;
  width: 4.444vh;
  background: url("../img/profile.png") 50%/4.444vh 4.444vh no-repeat;
  border-radius: 50%;
}
.wrapper .wrapper__row .wrapper__column-right .content {
  flex: 1 1 85vh;
  border-radius: 1.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
  width: 1vh;
}
.wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar-track {
  background: #f5f5f5; /* цвет дорожки */
}
.wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar-thumb {
  background-color: #f5f5f5; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 0.3vh solid #f5f5f5; /* padding вокруг плашки */
}
.wrapper .wrapper__row .wrapper__column-right .content:hover::-webkit-scrollbar-track {
  background: #f5f5f5; /* цвет дорожки */
}
.wrapper .wrapper__row .wrapper__column-right .content:hover::-webkit-scrollbar-thumb {
  background-color: #c3c6ca; /* цвет плашки */
}
.wrapper .wrapper__row .wrapper__column-right .content .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .wrapper__row .wrapper__column-right .content .container h1 {
  margin-bottom: 2vmin;
  font-size: 2.777vh;
  font-weight: 700;
  line-height: 130%;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  margin: 0 0 2.777vmin 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options select {
  padding: 0.555vh 1.85vh;
  border: none;
  border-radius: 1.5vh;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 2.15vh;
  color: #5F6165;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options .new {
  width: 11.3vh;
  margin: 0 1.48vh 0 0;
  background: #ffffff url("../img/booking/arrow.svg") 85% 50%/1.296vh 0.833vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options .select-wrapper {
  flex: 1 1 auto;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options .select-wrapper .mark {
  width: 13.25vh;
  height: 4vh;
  background: #ffffff url("../img/booking/arrow.svg") 85% 50%/1.296vh 0.833vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options .view {
  width: 4.07vh;
  height: 4.07vh;
  margin: 0 1.48vh 0 0;
  border-radius: 50%;
  background: url("../img/booking/view.svg") 50%/100% no-repeat;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .options .filters {
  width: 4.07vh;
  height: 4.07vh;
  border-radius: 50%;
  background: url("../img/booking/filters.svg") 50%/100% no-repeat;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1vmin;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container {
  flex: 1 1 30vh;
  padding: 0 1vmin;
  margin: 0 0 2vmin 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card {
  border-radius: 1.5vh;
  padding: 2vh;
  height: 100%;
  background: #ffffff;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card:hover {
  transform: translateY(-0.6vh);
  box-shadow: 0 1vh 1.5vh -1vh #bcbec9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.4vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .title {
  display: inline-block;
  font-size: 1.666vh;
  line-height: 2.13vh;
  font-weight: 700;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .title .title-link {
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .title .title-link:visited {
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-label {
  width: 1.85vh;
  height: 1.666vh;
  background: url("../img/booking/like.svg") 50%/auto 1.666vh no-repeat;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-input {
  position: absolute;
  left: -9999px;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-input:checked + label {
  background: url("../img/booking/like-hover.svg") 50%/auto 1.666vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .car-class {
  font-size: 1.48vh;
  line-height: 1.944vh;
  font-weight: 400;
  color: #72767C;
  margin: 0 0 1.944vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .picture-link {
  display: inline-block;
  width: 100%;
  height: 9.722vh;
  margin: 0 0 1.944vh 0;
  background: url("../img/booking/audi.png") 50%/contain no-repeat;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .picture-link:visited {
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2 span {
  color: #72767C;
  font-weight: 400;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2__item-1 {
  position: relative;
  padding: 0 0 0 2vh;
  margin: 0 1.85vh 0 0;
  font-size: 1.666vh;
  line-height: 2.13vh;
  font-weight: 400;
  color: #72767C;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2__item-1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.574vh;
  height: 1.574vh;
  background: url("../img/booking/person.svg") 50%/1.5vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2__item-2 {
  position: relative;
  padding: 0 0 0 2.3vh;
  flex: 1 1 auto;
  font-size: 1.4vh;
  line-height: 2.13vh;
  font-weight: 400;
  color: #72767C;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2__item-2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.85vh;
  height: 1.574vh;
  background: url("../img/booking/arrows.svg") 50%/1.85vh 1.5vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-2__item-3 {
  font-size: 1.666vh;
  line-height: 2.13vh;
  font-weight: 500;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(1) .picture-link {
  background: url("../img/booking/porsche.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(2) .picture-link {
  background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(3) .picture-link {
  background: url("../img/booking/lada.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(4) .picture-link {
  background: url("../img/booking/toyota.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(7) .picture-link {
  background: url("../img/booking/lada-2.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(6) .picture-link {
  background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(5) .picture-link {
  background: url("../img/booking/audi.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(8) .picture-link {
  background: url("../img/booking/toyota.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(9) .picture-link {
  background: url("../img/booking/porsche.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(10) .picture-link {
  background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(11) .picture-link {
  background: url("../img/booking/audi.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(12) .picture-link {
  background: url("../img/booking/toyota.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container:nth-child(15) .picture-link {
  background: url("../img/booking/lada-2.png") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container .more {
  text-align: center;
  font-weight: 500;
  font-size: 1.5vh;
  line-height: 5vh;
  letter-spacing: 0.1vh;
  color: #72767C;
}

@media (max-width: 1023px) {
  body {
    padding: 3vw;
  }
  .wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .wrapper .wrapper__row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper .wrapper__row details {
    display: block;
    margin: 0 0 2vmin 0;
    padding: 2vh 1.5vh;
    border-radius: 1.5vh;
    background: #ffffff;
    height: 7vh;
    transition: 0.2s linear;
  }
  .wrapper .wrapper__row details summary {
    display: flex;
    justify-content: space-between;
  }
  .wrapper .wrapper__row details summary .link {
    position: relative;
    width: 3vh;
    height: 3vh;
    background: url("../img/logo.svg") 50%/95% no-repeat;
  }
  .wrapper .wrapper__row details summary .link a {
    padding: 0 0 0 4vh;
    font-size: 2.7vh;
    font-weight: 700;
    line-height: 120%;
    color: #5F6165;
  }
  .wrapper .wrapper__row details summary .burger {
    margin: 0 0.6vh 0 2vh;
    width: 3vh;
    height: 3vh;
    background: url("../img/burger.svg") 50%/100% no-repeat;
  }
  .wrapper .wrapper__row details .container {
    margin: 1vh 0 0 0;
  }
  .wrapper .wrapper__row details .container a {
    display: inline-block;
    width: 100%;
    margin: 2vw 0 0 0;
    padding: 0 0 0 5.7vh;
    border-radius: 1.5vh;
    font-weight: 500;
    font-size: 2vh;
    line-height: 250%;
    color: #5F6165;
  }
  .wrapper .wrapper__row details .container a:nth-child(1) {
    background: url("../img/dashboard.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(1):hover {
    background: #f8fafd url("../img/dashboard.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(2) {
    color: #c3c6ca;
    background: url("../img/assets.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(2):hover {
    background: #f8fafd url("../img/assets.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(3) {
    position: relative;
    background: #F3F5F8 url("../img/booking.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(3):after {
    content: "new";
    font-size: 0.8em;
    color: #87d762;
    position: absolute;
    right: 1.5vh;
    top: 0;
  }
  .wrapper .wrapper__row details .container a:nth-child(3):hover {
    background: #f8fafd url("../img/booking.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(4) {
    color: #c3c6ca;
    background: url("../img/sell.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(4):hover {
    background: #f8fafd url("../img/sell.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(5) {
    color: #c3c6ca;
    background: url("../img/buy.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(5):hover {
    background: #f8fafd url("../img/buy.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(6) {
    color: #c3c6ca;
    background: url("../img/services.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(6):hover {
    background: #f8fafd url("../img/services.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(7) {
    color: #c3c6ca;
    background: url("../img/calendar.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(7):hover {
    background: #f8fafd url("../img/calendar.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(8) {
    color: #c3c6ca;
    background: url("../img/messages.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details .container a:nth-child(8):hover {
    background: #f8fafd url("../img/messages.svg") 1.5vh 50%/3vh no-repeat;
  }
  .wrapper .wrapper__row details[open] {
    height: 60vh;
    transition: 0.2s linear;
  }
  .wrapper .wrapper__row details[open] .burger {
    background: url("../img/cross.svg") 50%/80% no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-left {
    display: none;
  }
  .wrapper .wrapper__row .wrapper__column-right {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    overflow: hidden;
    border-radius: 1.5vh;
  }
  .wrapper .wrapper__row .wrapper__column-right .header {
    width: 100%;
    height: 7vh;
    margin: 0 0 2vmin 0;
    padding: 1.5vh;
    border-radius: 1.5vh;
    background: #ffffff;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left {
    height: 100%;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
    height: 100%;
    position: relative;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 3vh;
    position: absolute;
    left: 0.4vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
    max-width: 23.777vh;
    height: 100%;
    background: #F5F4F6;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6vh;
    line-height: 100%;
    padding: 0 0 0 4vh;
    caret-color: #EF9011;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
    cursor: pointer;
    height: 100%;
    width: 1.85vh;
    margin-right: 2vh;
    background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
    height: 4.444vh;
    width: 4.444vh;
    background: url("../img/profile.png") 50%/4.444vh no-repeat;
    border-radius: 50%;
  }
  .wrapper .wrapper__row .wrapper__column-right .content {
    flex: 1 1 85vh;
    border-radius: 1.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container h1 {
    margin: 2.777vmin 0;
    font-size: 2.777vh;
    font-weight: 700;
    line-height: 130%;
    color: #242731;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .options {
    display: flex;
    justify-content: space-between;
    height: 4vh;
    margin: 0 0 5vmin 0;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -1vmin;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container {
    flex: 1 1 30vh;
    padding: 0 1vmin;
    margin: 0 0 2vmin 0;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card {
    padding: 2vh;
    height: 100%;
    transition: 0.1s linear;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card:hover {
    transform: none;
    box-shadow: none;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .picture-link {
    height: 15.722vh;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .title {
    font-size: 2.5vh;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-label {
    width: 2.85vh;
    height: 2.666vh;
    background: url("../img/booking/like.svg") 50%/2.85vh 2.666vh no-repeat;
    cursor: pointer;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-input {
    position: absolute;
    left: -9999px;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container .car-list .card-container .card .row-1 .like-input:checked + label {
    background: url("../img/booking/like-hover.svg") 50%/2.85vh 2.666vh no-repeat;
  }
}