@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #F5F5F5;
}

.wrapper {
  border: 1px solid violet;
  display: flex;
  width: 68%;
  height: 100vh;
  padding: 32px;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 15%;
  margin: 0 24px 0 0;
  padding: 24px;
  border-radius: 16px;
  background: #ffffff;
}
nav .nav__top {
  min-width: 100%;
  flex: 1 1 auto;
  margin: 0 0 24px 0;
}
nav .nav__top .logo {
  display: inline-block;
  width: 100%;
  margin: 0 0 24px 0;
  padding: 0 0 0 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1F2128;
  background: url("../img/logo.svg") 12px 50%/30px no-repeat;
}
nav .nav__top a, nav .nav__bottom a {
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  margin: 0 0 8px 0;
  padding: 10px 10px 10px 45px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #5F6165;
}
nav .nav__top a:nth-child(2) {
  background: url("../img/dashboard.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(2):hover {
  background: #f8fafd url("../img/dashboard.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(3) {
  background: url("../img/assets.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(3):hover {
  background: #f8fafd url("../img/assets.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(4) {
  background: url("../img/booking.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(4):hover {
  background: #f8fafd url("../img/booking.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(5) {
  background: url("../img/sell.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(5):hover {
  background: #f8fafd url("../img/sell.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(6) {
  background: url("../img/buy.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(6):hover {
  background: #f8fafd url("../img/buy.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(7) {
  background: url("../img/services.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(7):hover {
  background: #f8fafd url("../img/services.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(8) {
  background: url("../img/calendar.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(8):hover {
  background: #f8fafd url("../img/calendar.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(9) {
  background: url("../img/messages.svg") 10px 50%/22px no-repeat;
}
nav .nav__top a:nth-child(9):hover {
  background: #f8fafd url("../img/messages.svg") 10px 50%/22px no-repeat;
}
nav .nav__bottom a:first-child {
  background: url("../img/settings.svg") 10px 50%/22px no-repeat;
}
nav .nav__bottom a:first-child:hover {
  background: #f8fafd url("../img/settings.svg") 10px 50%/22px no-repeat;
}
nav .nav__bottom a:last-child {
  margin: 0 0 0 0;
  background: url("../img/log-out.svg") 10px 50%/22px no-repeat;
}
nav .nav__bottom a:last-child:hover {
  background: #f8fafd url("../img/log-out.svg") 10px 50%/22px no-repeat;
}

.main {
  border: 1px solid green;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}
.main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin: 0 0 24px 0;
  background: #ffffff;
  border-radius: 16px;
}
.main header .input {
  position: relative;
}
.main header .input:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 30px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  background: #F5F4F6 url("../img/search.svg") 50%/16px no-repeat;
}
.main header .input input {
  min-height: 30px;
  min-width: 300px;
  padding: 8px 8px 8px 42px;
  margin: 0 32px 0 0;
  border-radius: 8px;
  background: #F5F4F6;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #7C7C8D;
  caret-color: #EF9011;
}
.main header .input input::-moz-placeholder {
  color: rgba(124, 124, 141, 0.568627451);
}
.main header .input input:-ms-input-placeholder {
  color: rgba(124, 124, 141, 0.568627451);
}
.main header .input input::placeholder {
  color: rgba(124, 124, 141, 0.568627451);
}
.main header .notification-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
  height: 32px;
}
.main header .notification-profile .notification {
  width: 20px;
  height: 20px;
  background: url("../img/notification.svg") 50%/contain no-repeat;
}
.main header .notification-profile .profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #ffffff url("../img/profile.png") 50%/35px no-repeat;
}

nav .nav__top a:nth-child(2) {
  background: #eceff3 url("../img/dashboard.svg") 10px 50%/22px no-repeat;
}

nav .nav__top a:hover:nth-child(2) {
  background: #eceff3 url("../img/dashboard.svg") 10px 50%/22px no-repeat;
}

.container-wrapper {
  border: 1px solid black;
  display: flex;
  flex: 0 0 auto;
  min-height: 90%;
  overflow: hidden;
}

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 16px;
}
.container .row-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px 0 -12px;
  min-height: 272px;
  flex-wrap: wrap;
}
.container .row-1 .row-1__column {
  min-width: 250px;
  padding: 0 12px;
  flex: 1 1 25%;
  margin: 0 0 24px 0;
}
.container .row-1 .energy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
  padding: 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-1 .energy .energy__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px 0;
}
.container .row-1 .energy .energy__icon-title .icon {
  width: 35px;
  height: 35px;
  margin: 0 0 10px 0;
  background: url("../img/dashboard/energy.svg") 50%/auto 100% no-repeat;
}
.container .row-1 .energy .energy__icon-title .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.3vw;
  color: #242731;
}
.container .row-1 .energy .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 112px;
  min-height: 50%;
  background: url("../img/dashboard/energy-scale.svg") 50%/contain no-repeat;
}
.container .row-1 .energy .scale span {
  padding: 15px 0 0 0;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 31px;
  color: #242731;
}
.container .row-1 .energy:hover {
  background: #A162F7;
  cursor: pointer;
}
.container .row-1 .energy:hover .title {
  color: #ffffff;
}
.container .row-1 .energy:hover .scale {
  background: url("../img/dashboard/hovers/energy-scale-hover.svg") 50%/contain no-repeat;
}
.container .row-1 .energy:hover .scale span {
  color: #ffffff;
}
.container .row-1 .range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
  padding: 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-1 .range .range__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px 0;
}
.container .row-1 .range .range__icon-title .icon {
  width: 35px;
  height: 35px;
  margin: 0 0 10px 0;
  background: url("../img/dashboard/range.svg") 50%/auto 100% no-repeat;
}
.container .row-1 .range .range__icon-title .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.3vw;
  color: #242731;
}
.container .row-1 .range .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 112px;
  min-height: 50%;
  background: url("../img/dashboard/range-scale.svg") 50%/contain no-repeat;
}
.container .row-1 .range .scale span {
  padding: 15px 0 0 0;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 31px;
  color: #242731;
}
.container .row-1 .range:hover {
  background: #FF7E86;
  cursor: pointer;
}
.container .row-1 .range:hover .title {
  color: #ffffff;
}
.container .row-1 .range:hover .scale {
  background: url("../img/dashboard/hovers/range-scale-hover.svg") 50%/contain no-repeat;
}
.container .row-1 .range:hover .scale span {
  color: #ffffff;
}
.container .row-1 .break-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
  padding: 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-1 .break-fluid .break-fluid__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px 0;
}
.container .row-1 .break-fluid .break-fluid__icon-title .icon {
  width: 35px;
  height: 35px;
  margin: 0 0 10px 0;
  background: url("../img/dashboard/break-fluid.svg") 50%/auto 100% no-repeat;
}
.container .row-1 .break-fluid .break-fluid__icon-title .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.3vw;
  color: #242731;
  margin: 0 -24px;
}
.container .row-1 .break-fluid .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 112px;
  min-height: 50%;
  background: url("../img/dashboard/break-fluid-scale.svg") 50%/contain no-repeat;
}
.container .row-1 .break-fluid .scale span {
  padding: 15px 0 0 0;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 31px;
  color: #242731;
}
.container .row-1 .break-fluid:hover {
  background: #A162F7;
  cursor: pointer;
}
.container .row-1 .break-fluid:hover .title {
  color: #ffffff;
}
.container .row-1 .break-fluid:hover .scale {
  background: url("../img/dashboard/hovers/break-fluid-scale-hover.svg") 50%/contain no-repeat;
}
.container .row-1 .break-fluid:hover .scale span {
  color: #ffffff;
}
.container .row-1 .tire-wear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
  padding: 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-1 .tire-wear .tire-wear__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px 0;
}
.container .row-1 .tire-wear .tire-wear__icon-title .icon {
  width: 35px;
  height: 35px;
  margin: 0 0 10px 0;
  background: url("../img/dashboard/tire-wear.svg") 50%/auto 100% no-repeat;
}
.container .row-1 .tire-wear .tire-wear__icon-title .title {
  margin: 0 -24px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3vw;
  color: #242731;
}
.container .row-1 .tire-wear .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 112px;
  min-height: 50%;
  background: url("../img/dashboard/tire-wear-scale.svg") 50%/contain no-repeat;
}
.container .row-1 .tire-wear .scale span {
  padding: 15px 0 0 0;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 31px;
  color: #242731;
}
.container .row-1 .tire-wear:hover {
  background: #F6CC0D;
  cursor: pointer;
}
.container .row-1 .tire-wear:hover .title {
  color: #ffffff;
}
.container .row-1 .tire-wear:hover .scale {
  background: url("../img/dashboard/hovers/tire-wear-scale-hover.svg") 50%/contain no-repeat;
}
.container .row-1 .tire-wear:hover .scale span {
  color: #ffffff;
}
.container .row-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px 0 -12px;
  height: 37%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .row-2 .row-2__column {
  padding: 0 12px;
  flex: 1 1 50%;
  margin: 0 0 24px 0;
  min-height: 272px;
}
.container .row-2 .miles-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px 4% 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-2 .miles-statistics .title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 100%;
  color: #242731;
}
.container .row-2 .miles-statistics .title span {
  font-weight: 400;
}
.container .row-2 .miles-statistics .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 0 0 14px 0;
}
.container .row-2 .miles-statistics .options .options-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 8px 0 0;
}
.container .row-2 .miles-statistics .options .options-list input {
  position: absolute;
  left: -9999px;
}
.container .row-2 .miles-statistics .options .options-list label {
  cursor: pointer;
  margin: 0 4px 0 0;
  padding: 0.37em 1em;
  font-weight: 700;
  font-size: 0.65vw;
  line-height: 16px;
  color: #5F6165;
  border-radius: 24px;
  background: #ffffff;
}
.container .row-2 .miles-statistics .options .options-list input:checked + label {
  cursor: pointer;
  color: #ffffff;
  background: #2884FF;
}
.container .row-2 .miles-statistics .options .miles {
  font-weight: 700;
  font-size: 0.75vw;
  line-height: 100%;
  color: #5F6165;
}
.container .row-2 .miles-statistics .graph__row {
  display: flex;
  flex: 1 1 auto;
}
.container .row-2 .miles-statistics .graph__row .graph__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 3.5%;
}
.container .row-2 .miles-statistics .graph__row .graph__column .graph {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g80 {
  height: 75%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g80:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g80:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/1pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g50 {
  height: 50%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g50:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g50:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/2pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g95 {
  height: 80%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g95:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g95:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/3pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g45 {
  height: 40%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g45:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g45:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/4pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g70 {
  height: 70%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g70:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g70:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/5pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g25 {
  height: 25%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g25:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g25:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/6pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g35 {
  height: 35%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g35:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.container .row-2 .miles-statistics .graph__row .graph__column .g35:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/7pm.svg") 0 0/auto 100% no-repeat;
}
.container .row-2 .miles-statistics .graph__row .graph__column .hour {
  padding: 8px 0 0 0;
  width: 200%;
  text-align: center;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 18px;
  color: #808191;
  background-color: #ffffff;
}
.container .row-2 .miles-statistics .graph__row .graph__column:not(:last-child) {
  border-right: 1px solid #F2F2F2;
}
.container .row-2 .car-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px 4% 24px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
}
.container .row-2 .car-statistics .title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 100%;
  color: #242731;
}
.container .row-2 .car-statistics .title span {
  font-weight: 400;
}
.container .row-2 .car-statistics .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 0 0 14px 0;
}
.container .row-2 .car-statistics .options .options-list {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 24px;
  background: #F5F4F6;
}
.container .row-2 .car-statistics .options .options-list input {
  position: absolute;
  left: -9999px;
}
.container .row-2 .car-statistics .options .options-list label {
  cursor: pointer;
  margin: 0 4px 0 0;
  padding: 0.37em 1em;
  font-weight: 700;
  font-size: 0.65vw;
  line-height: 16px;
  color: #5F6165;
  border-radius: 24px;
}
.container .row-2 .car-statistics .options .options-list label:last-child {
  margin: 0 0 0 0;
}
.container .row-2 .car-statistics .options .options-list input:checked + label {
  cursor: pointer;
  color: #ffffff;
  background: #FF764C;
}
.container .row-2 .car-statistics .options .miles {
  font-weight: 700;
  font-size: 0.75vw;
  line-height: 100%;
  color: #5F6165;
}
.container .row-2 .car-statistics .graph__row {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}
.container .row-2 .car-statistics .graph__row:before {
  position: absolute;
  content: "";
  min-width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url("../img/dashboard/car-statistics-graph.png") 50%/100% 80% no-repeat;
}
.container .row-2 .car-statistics .graph__row .graph__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 3.5%;
}
.container .row-2 .car-statistics .graph__row .graph__column .graph {
  width: 1px;
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  background: #F2F2F2;
}
.container .row-2 .car-statistics .graph__row .graph__column .hour {
  padding: 8px 0 0 0;
  width: 200%;
  text-align: center;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 18px;
  color: #808191;
  background-color: #ffffff;
}
.container .row-3 {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin: 0 -12px;
}
.container .row-3__column {
  height: 100%;
  width: 33.333%;
  padding: 0 12px;
  min-height: 272px;
}
.container .row-3__column .car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 24px;
  border-radius: 16px;
}
.container .row-3__column .car .recommend {
  position: relative;
  width: 100%;
  padding: 0 0 0 38px;
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 100%;
  color: #242731;
}
.container .row-3__column .car .recommend:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-55%);
  background: url("../img/dashboard/lines-round.svg") 50%/24px no-repeat;
}
.container .row-3__column .car .picture {
  min-height: 50%;
  width: 100%;
}
.container .row-3__column .car .title {
  width: 100%;
  margin: 8px 0 0 0;
  font-size: 1.15vw;
  font-weight: 700;
  line-height: 100%;
  color: #242731;
}
.container .row-3__column .car .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 4px 0;
}
.container .row-3__column .car .info div:nth-child(1) {
  height: 20px;
  width: 20px;
  margin: 0 6% 0 0;
  background: url("../img/dashboard/re.svg") 50%/20px no-repeat;
}
.container .row-3__column .car .info div:nth-child(2) {
  margin: 0 6% 0 0;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 100%;
  color: #72767C;
}
.container .row-3__column .car .info div:nth-child(3) {
  height: 18px;
  width: 18px;
  margin: 0 6% 0 0;
  background: url("../img/dashboard/plus.svg") 50%/18px no-repeat;
}
.container .row-3__column .car .info div:nth-child(4) {
  flex: 1 1 auto;
  height: 16px;
  margin: 0 16px 0 0;
  background: url("../img/dashboard/lightning.svg") 0 50%/16px no-repeat;
}
.container .row-3__column .car .info div:nth-child(5) {
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 100%;
  color: #72767C;
}
.container .row-3__column .first-car {
  background: #E1DFA4;
}
.container .row-3__column .first-car .picture {
  background: url("../img/dashboard/volvo_v60.png") 50%/contain no-repeat;
}
.container .row-3__column .second-car {
  background: #E3ECF1;
}
.container .row-3__column .second-car .picture {
  background: url("../img/dashboard/porsche.png") 50%/contain no-repeat;
}
.container .row-3__column .third-car {
  background: #F4E3E5;
}
.container .row-3__column .third-car .picture {
  background: url("../img/dashboard/mini-cooper.png") 50%/contain no-repeat;
}