@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #DBDBDB;
  padding: 3vh;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex: 0 1 115vmin;
  max-width: 100%;
  min-height: 100%;
}
.wrapper .wrapper__row {
  flex: 1 1 auto;
  display: flex;
}
.wrapper .wrapper__row .wrapper__column-left {
  width: 21vmin;
  margin-right: 2vh;
  background: #ffffff;
  border-radius: 1.5vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top {
  margin-bottom: 2vh;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child {
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 140%;
  background: none;
  margin: 0 0 2.5vh 0;
  background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:last-child {
  margin: 0 0 0 0;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(2) {
  background: #F3F5F8 url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3) {
  background: url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(3):hover {
  background: #f8fafd url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4) {
  background: url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(4):hover {
  background: #f8fafd url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5) {
  background: url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(5):hover {
  background: #f8fafd url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6) {
  background: url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(6):hover {
  background: #f8fafd url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7) {
  background: url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(7):hover {
  background: #f8fafd url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8) {
  background: url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(8):hover {
  background: #f8fafd url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9) {
  background: url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:nth-child(9):hover {
  background: #f8fafd url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.75vh 0;
  padding: 0 0 0 3.5vh;
  position: relative;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 250%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1) {
  background: url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:nth-child(1):hover {
  background: #f8fafd url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child {
  margin: 0 0 0 0;
  background: url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom .wrapper__column-left__bottom-item:last-child:hover {
  background: #f8fafd url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 68vmin;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .header {
  width: 100%;
  height: 7vh;
  margin: 0 0 2vh 0;
  padding: 1.5vh;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .header__row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left {
  height: 100%;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
  height: 100%;
  position: relative;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 3vh;
  position: absolute;
  left: 0.4vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
  width: 27.777vh;
  height: 100%;
  background: #F5F4F6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.6vh;
  line-height: 100%;
  padding: 0 0 0 4vh;
  caret-color: #EF9011;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
  cursor: pointer;
  height: 100%;
  width: 1.85vh;
  margin-right: 2vh;
  background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
  height: 4.444vh;
  width: 4.444vh;
  background: url("../img/profile.png") 50%/4.444vh no-repeat;
  border-radius: 50%;
}
.wrapper .wrapper__row .wrapper__column-right .content {
  width: 100%;
  flex: 1 1 85vh;
  border-radius: 1.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container {
  min-height: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1vmin;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column {
  min-width: 17.545vh;
  min-height: 24vh;
  flex: 1 1 25%;
  padding: 0 1vmin;
  margin: 0 0 2vmin 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items {
  height: 100%;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.222vh;
  background: #ffffff;
  height: 100%;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy .energy__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2.777vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy .energy__icon-title .icon {
  width: 3.24vh;
  height: 3.24vh;
  margin: 0 0 1vh 0;
  background: url("../img/dashboard/energy.svg") 50%/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy .energy__icon-title .title {
  text-align: center;
  font-weight: 700;
  font-size: 2.222vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.37vh;
  background: url("../img/dashboard/energy-scale.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .energy .scale span {
  padding: 1.388vh 0 0 0;
  font-weight: 700;
  font-size: 2.222vh;
  line-height: 130%;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 2.222vh;
  height: 100%;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range .range__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2.777vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range .range__icon-title .icon {
  width: 3.24vh;
  height: 3.24vh;
  margin: 0 0 1vh 0;
  background: url("../img/dashboard/range.svg") 50%/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range .range__icon-title .title {
  text-align: center;
  font-weight: 700;
  font-size: 2.222vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.37vh;
  background: url("../img/dashboard/range-scale.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .range .scale span {
  padding: 1.388vh 0 0 0;
  font-weight: 700;
  font-size: 2.222vh;
  line-height: 130%;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 2.222vh;
  height: 100%;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid .break-fluid__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2.777vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid .break-fluid__icon-title .icon {
  width: 3.24vh;
  height: 3.24vh;
  margin: 0 0 1vh 0;
  background: url("../img/dashboard/break-fluid.svg") 50%/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid .break-fluid__icon-title .title {
  height: 2.3vh;
  text-align: center;
  font-weight: 700;
  font-size: 2.222vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.37vh;
  background: url("../img/dashboard/break-fluid-scale.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid .scale span {
  padding: 1.388vh 0 0 0;
  font-weight: 700;
  font-size: 2.222vh;
  line-height: 130%;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid:hover {
  background: #A162F7;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid:hover .title {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid:hover .scale {
  background: url("../img/dashboard/hovers/break-fluid-scale-hover.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .break-fluid:hover .scale span {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 2.222vh;
  height: 100%;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear .tire-wear__icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2.777vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear .tire-wear__icon-title .icon {
  width: 3.24vh;
  height: 3.24vh;
  margin: 0 0 1vh 0;
  background: url("../img/dashboard/tire-wear.svg") 50%/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear .tire-wear__icon-title .title {
  height: 2.3vh;
  text-align: center;
  font-weight: 700;
  font-size: 2.222vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.37vh;
  background: url("../img/dashboard/tire-wear-scale.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear .scale span {
  padding: 1.388vh 0 0 0;
  font-weight: 700;
  font-size: 2.222vh;
  line-height: 130%;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear:hover {
  background: #F6CC0D;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear:hover .title {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear:hover .scale {
  background: url("../img/dashboard/hovers/tire-wear-scale-hover.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items .tire-wear:hover .scale span {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover {
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .energy {
  background: #85F252;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .energy .title {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .energy .scale {
  background: url("../img/dashboard/hovers/energy-scale-hover.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .energy .scale span {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .range {
  background: #FF7E86;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .range .title {
  color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .range .scale {
  background: url("../img/dashboard/hovers/range-scale-hover.svg") 50%/contain no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items:hover .range .scale span {
  color: #ffffff;
}
@media (max-width: 600px) {
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column {
    min-width: 150px;
    min-height: 24vh;
    flex: 1 1 25%;
    padding: 0 1vmin;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-1 .row-1__flex-container .row-1__column .row-1__items {
    height: 100%;
    border-radius: 1.5vh;
  }
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1vmin;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column {
  min-width: 46.9vh;
  min-height: 35vh;
  flex: 1 1 50%;
  padding: 0 1vh;
  margin: 0 0 2vmin 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items {
  height: 100%;
  border-radius: 1.5vh;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh;
  height: 100%;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .title {
  margin: 0 0 2.222vh 0;
  font-weight: 700;
  font-size: 1.9vh;
  line-height: 2.457vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .title span {
  font-weight: 400;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 0 0 1.3vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options .options-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 8px 0 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options .options-list input {
  position: absolute;
  left: -9999px;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options .options-list label {
  cursor: pointer;
  margin: 0 0.37vh 0 0;
  padding: 0.524vh 1.311vh;
  font-weight: 700;
  font-size: 1.2vh;
  line-height: 1.4vh;
  color: #5F6165;
  border-radius: 24px;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options .options-list input:checked + label {
  cursor: pointer;
  color: #ffffff;
  background: #2884FF;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .options .miles {
  font-weight: 700;
  font-size: 1.5vh;
  line-height: 100%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row {
  display: flex;
  flex: 1 1 auto;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 3.5%;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .graph {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g80 {
  height: 75%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g80:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g80:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/1pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g50 {
  height: 50%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g50:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g50:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/2pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g95 {
  height: 80%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g95:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g95:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/3pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g45 {
  height: 40%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g45:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g45:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/4pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g70 {
  height: 70%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g70:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g70:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/5pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g25 {
  height: 25%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g25:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g25:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/6pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g35 {
  height: 35%;
  background: #F4F5F9;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g35:hover {
  position: relative;
  background: #2884FF;
  transition: 0.1s linear;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .g35:hover:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: -5%;
  left: 70%;
  border-radius: 8px;
  background: #282B32 url("../img/dashboard/hovers/7pm.svg") 0 0/auto 100% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column .hour {
  padding: 1vh 0 0 0;
  width: 200%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5vh;
  line-height: 18px;
  color: #808191;
  background-color: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .miles-statistics .graph__row .graph__column:not(:last-child) {
  border-right: 1px solid #F2F2F2;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh;
  height: 100%;
  border-radius: 1.5vh;
  background: #ffffff;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .title {
  margin: 0 0 2.222vh 0;
  font-weight: 700;
  font-size: 1.9vh;
  line-height: 2.457vh;
  color: #242731;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .title span {
  font-weight: 400;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 0 0 1.3vh 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .options-list {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 24px;
  background: #F5F4F6;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .options-list input {
  position: absolute;
  left: -9999px;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .options-list label {
  cursor: pointer;
  margin: 0 0.37vh 0 0;
  padding: 0.524vh 1.311vh;
  font-weight: 700;
  font-size: 1.2vh;
  line-height: 1.4vh;
  color: #5F6165;
  border-radius: 24px;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .options-list label:last-child {
  margin: 0 0 0 0;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .options-list input:checked + label {
  cursor: pointer;
  color: #ffffff;
  background: #FF764C;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .options .miles {
  font-weight: 700;
  font-size: 1.5vh;
  line-height: 100%;
  color: #5F6165;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .graph__row {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .graph__row:before {
  position: absolute;
  content: "";
  min-width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url("../img/dashboard/car-statistics-graph.png") 50%/100% 80% no-repeat;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .graph__row .graph__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 3.5%;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .graph__row .graph__column .graph {
  width: 1px;
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  background: #F2F2F2;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items .car-statistics .graph__row .graph__column .hour {
  padding: 1vh 0 0 0;
  width: 200%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5vh;
  line-height: 18px;
  color: #808191;
  background-color: #ffffff;
}
@media (max-width: 600px) {
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column {
    min-width: 204px;
    min-height: 41vh;
    flex: 1 1 auto;
    padding: 0 1vmin;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-2 .row-2__flex-container .row-2__column .row-2__items {
    height: 100%;
    border-radius: 1.5vh;
  }
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-3 .row-3__flex-container {
  display: flex;
  margin: 0 -1vmin;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-3 .row-3__flex-container .row-3__column {
  min-height: 21.7vh;
  flex: 1 1 33.333%;
  padding: 0 1vmin;
}
.wrapper .wrapper__row .wrapper__column-right .content .container__row-3 .row-3__flex-container .row-3__column .row-3__items {
  background: #ffffff;
  height: 100%;
  border-radius: 1.5vh;
}
@media (max-width: 600px) {
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-3 .row-3__flex-container .row-3__column {
    padding: 0 1vmin;
  }
  .wrapper .wrapper__row .wrapper__column-right .content .container__row-3 .row-3__flex-container .row-3__column .row-3__items {
    background: #ffffff;
    height: 100%;
    border-radius: 1.5vh;
  }
}

@media (max-width: 1023px) {
  body {
    padding: 3vw;
  }
  .wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .wrapper .wrapper__row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper .wrapper__row .wrapper__column-left {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #ffffff;
    border-radius: 1.5vh;
    padding: 2vh 1.5vh;
    margin: 0 0 2vmin 0;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item {
    width: 100%;
    padding: 0 0 0 3.5vh;
    position: relative;
    border-radius: 0;
    font-weight: 500;
    font-size: 1.4vh;
    line-height: 250%;
    color: #5F6165;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child {
    font-size: 2.5vh;
    font-weight: 700;
    line-height: 100%;
    background: none;
    margin: 0 0 0 0;
    background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .wrapper__column-left__top-item:first-child:after {
    content: "";
    width: 2.5vh;
    height: 2.5vh;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/burger.svg") 0 50%/2.5vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__top .blank {
    display: none;
  }
  .wrapper .wrapper__row .wrapper__column-left .wrapper__column-left__bottom {
    display: none;
  }
  .wrapper .wrapper__row .wrapper__column-right {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    overflow: hidden;
    border-radius: 1.5vh;
  }
  .wrapper .wrapper__row .wrapper__column-right .header {
    width: 100%;
    height: 7vh;
    margin: 0 0 2vmin 0;
    padding: 1.5vh;
    border-radius: 1.5vh;
    background: #ffffff;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left {
    height: 100%;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input {
    height: 100%;
    position: relative;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 3vh;
    position: absolute;
    left: 0.4vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-left .input input {
    max-width: 23.777vh;
    height: 100%;
    background: #F5F4F6;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6vh;
    line-height: 100%;
    padding: 0 0 0 4vh;
    caret-color: #EF9011;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .notification {
    cursor: pointer;
    height: 100%;
    width: 1.85vh;
    margin-right: 2vh;
    background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
  }
  .wrapper .wrapper__row .wrapper__column-right .header__column-right .profile {
    height: 4.444vh;
    width: 4.444vh;
    background: url("../img/profile.png") 50%/4.444vh no-repeat;
    border-radius: 50%;
  }
  .wrapper .wrapper__row .wrapper__column-right .content {
    width: 100%;
    flex: 1 1 auto;
    border-radius: 1.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper .wrapper__row .wrapper__column-right .content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}