@import "null-style.scss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

//border: 1px solid red;

$border-radius: 1.5vh;
$padding: 2vh;
$margin: 2vh;

html {
    font-size: 16px;
  }

body {
    font-family: "DM Sans", sans-serif;
    background: #f5f5f5;
    padding: 3vh;
}

details summary::-webkit-details-marker {
    display: none;
  }
  
  details > summary {
    list-style: none;
  }

.wrapper-container {//border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.wrapper {//border: 5px solid yellowgreen;
    display: flex;

    flex: 0 1 117vmin;                  //изменение ширины на весь экран для больших моников
    
    max-width: 100%;
    min-height: 100%;
    .wrapper__row {
        flex: 1 1 auto;
        display: flex;
        details {
            display: none;
        }
        .wrapper__column-left {
            width: 21vmin;
            margin-right: $margin;
            background: #ffffff;
            border-radius: $border-radius;
            padding: $padding;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .wrapper__column-left__top {
                margin-bottom: $margin;
                .blank {
                    cursor:default;
                }
                .wrapper__column-left__top-item {
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 0.75vh 0;
                    padding: 0 0 0 3.5vh;
                    position: relative;

                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 1.4vh;
                    line-height: 250%;

                    color: #5F6165;

                    &:first-child {
                        font-size: 2.5vh;
                        font-weight: 700;
                        line-height: 140%;
                        background: none;
                        margin: 0 0 2.5vh 0;
                        background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
                    }
                    &:last-child {
                        margin: 0 0 0 0;
                    }

                    &:nth-child(2) {
                        background: #ffffff url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(3) {
                        color: #c3c6ca;
                        background: url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:nth-child(4) {
                        background: #F3F5F8 url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
                        &:after {
                            content:"new";
                            font-size: 0.8em;
                            color: #a1e083;
                            position: absolute;
                            right: 1vh;
                            top: 0;
                        }
                    }
                    &:nth-child(5) {
                        color: #c3c6ca;
                        background: url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:nth-child(6) {
                        color: #c3c6ca;
                        background: url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:nth-child(7) {
                        color: #c3c6ca;
                        background: url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:nth-child(8) {
                        color: #c3c6ca;
                        background: url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:nth-child(9) {
                        color: #c3c6ca;
                        background: url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
                    }
                }
            }
            .wrapper__column-left__bottom {
                .blank {
                    cursor:default;
                }
                .wrapper__column-left__bottom-item {
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 0.75vh 0;
                    padding: 0 0 0 3.5vh;
                    position: relative;

                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 1.4vh;
                    line-height: 250%;

                    color: #5F6165;
                    &:nth-child(1) {
                        color: #c3c6ca;
                        background: url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
                    }
                    &:last-child {
                        color: #c3c6ca;
                        margin: 0 0 0 0;
                        background: url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
                    }
                }
            }
        }
        .wrapper__column-right {
            display: flex;
            flex-direction: column;
            flex: 1 1 68vmin;

            border-radius: $border-radius;
            .header {
                width: 100%;
                height: 7vh;
                margin: 0 0 $margin 0;
                padding: 1.5vh;

                border-radius: $border-radius;
                background: #ffffff;

                &__row {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__column-left {
                    height: 100%;
                    .input {
                        height: 100%;
                        position: relative;
                        &:before {
                            content:"";
                            cursor: pointer;
                            display: inline-block;
                            height: 100%;
                            width: 3vh;
                            position: absolute;
                            left: 0.4vh;
                            top: 50%;
                            transform: translateY(-50%);
            
                            border-radius: 8px;
                            background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
                        }
                        input {
                            width: 27.777vh;
                            height: 100%;
                            background: #F5F4F6;
                            border-radius: 8px;
                            font-weight: 500;
                            font-size: 1.6vh;
                            line-height: 100%;
                            padding: 0 0 0 4vh;
                            caret-color: #EF9011;
                        }
                    }
                }
                &__column-right {
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    .notification {
                        cursor: pointer;
                        height: 100%;
                        width: 1.85vh;
                        margin-right: 2vh;

                        background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
                    }
                    .profile {
                        height: 4.444vh;
                        width: 4.444vh;
                        background: url("../img/profile.png") 50%/4.444vh 4.444vh no-repeat;
                        border-radius: 50%;
                    }
                }
            }
            .content {
                
                flex: 1 1 85vh;
                
                border-radius: $border-radius;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 1vh;
                }
                &::-webkit-scrollbar-track {
                    background: #f5f5f5;        /* цвет дорожки */
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #f5f5f5;    /* цвет плашки */
                    border-radius: 20px;       /* закругления плашки */
                    border: 0.3vh solid #f5f5f5;  /* padding вокруг плашки */
                }
                &:hover {
                    &::-webkit-scrollbar-track {
                        background: #f5f5f5;        /* цвет дорожки */
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #c3c6ca;    /* цвет плашки */
                    }
                }

                                            //все что ниже только для первой страницы

                .container { //border: 1px solid red;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column; 
                    
                    h1 {
                        margin-bottom: 2vmin;

                        font-size: 2.777vh;
                        font-weight: 700;
                        line-height: 130%;
                        color: #242731;
                    }
                    .options { 
                        display: flex;
                        justify-content: space-between;
                        height: 4vh;
                        margin: 0 0 2.777vmin 0;
                        select {
                            padding: 0.555vh 1.85vh;

                            border:none;
                            border-radius: $border-radius;

                            font-family: "DM Sans", sans-serif;
                            font-weight: 500;
                            font-size: 1.48vh;
                            line-height: 2.15vh;
                            color: #5F6165;

                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;

                            cursor: pointer;
                        }
                        .new {
                            width: 11.3vh;
                            margin: 0 1.48vh 0 0;
                            
                            background: #ffffff url("../img/booking/arrow.svg") 85% 50%/ 1.296vh 0.833vh no-repeat;
                        }
                        .select-wrapper {
                            flex: 1 1 auto;
                            .mark {
                                width: 13.25vh;
                                height: 4vh;
                                
                                background: #ffffff url("../img/booking/arrow.svg") 85% 50%/ 1.296vh 0.833vh no-repeat;
                            }
                        }
                        .view {
                            width: 4.07vh;
                            height: 4.07vh;
                            margin: 0 1.48vh 0 0;

                            border-radius: 50%;
                            background: url("../img/booking/view.svg") 50%/ 100% no-repeat;
                            cursor: pointer;
                        }
                        .filters {
                            width: 4.07vh;
                            height: 4.07vh;

                            border-radius: 50%;
                            background: url("../img/booking/filters.svg") 50%/ 100% no-repeat;
                            cursor: pointer;
                        }
                    }
                    .car-list { 
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        margin: 0 -1vmin;
                        .card-container {
                            flex: 1 1 30vh;
                            //height: 24.722vh;
                            padding: 0 1vmin;
                            margin: 0 0 2vmin 0;
                            .card {
                                border-radius: $border-radius;
                                padding: $padding;
                                height: 100%;

                                background: #ffffff;
                                transition: 0.1s linear;
                                &:hover {
                                    transform: translateY(-0.6vh);
                                    box-shadow: 0 1vh 1.5vh -1vh #bcbec9;
                                    transition: 0.1s linear;
                                }
                                .row-1 { 
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin: 0 0 0.4vh 0;
                                    .title {
                                        display: inline-block;
                                        //flex: 1 1 auto;

                                        font-size: 1.666vh;
                                        line-height: 2.13vh;
                                        font-weight: 700;
                                        cursor: pointer;
                                        .title-link {
                                            color: #242731;
                                            &:visited {
                                                color: #242731;
                                            }
                                        }
                                    }
                                    .like-label {
                                        width: 1.85vh;
                                        height: 1.666vh;
                                        background: url("../img/booking/like.svg") 50%/ auto 1.666vh no-repeat;
                                        cursor: pointer;
                                    }
                                    .like-input {
                                        position: absolute;
                                        left: -9999px;
                                        &:checked + label {
                                            background: url("../img/booking/like-hover.svg") 50%/ auto 1.666vh no-repeat;
                                        }
                                    }
                                }
                                .car-class {
                                    font-size: 1.48vh;
                                    line-height: 1.944vh;
                                    font-weight: 400;
                                    color: #72767C;

                                    margin: 0 0 1.944vh 0;
                                }
                                .picture-link { 
                                    display: inline-block;
                                    width: 100%;
                                    height: 9.722vh;
                                    margin: 0 0 1.944vh 0;

                                    background: url("../img/booking/audi.png") 50%/contain no-repeat;
                                    color: #242731;
                                    &:visited {
                                        color: #242731;
                                    }
                                }
                                .row-2 {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    span {
                                        color: #72767C;
                                        font-weight: 400;
                                    }
                                    &__item-1 {
                                        position: relative;
                                        padding: 0 0 0 2vh;
                                        margin: 0 1.85vh 0 0;

                                        font-size: 1.666vh;
                                        line-height: 2.13vh;
                                        font-weight: 400;
                                        color: #72767C;
                                        &:before {
                                            content:"";
                                            position: absolute;
                                            top:50%;
                                            left:0;
                                            transform: translateY(-50%);
                                            width: 1.574vh;
                                            height: 1.574vh;
                                            background: url("../img/booking/person.svg") 50%/ 1.5vh no-repeat;
                                        }
                                    }
                                    &__item-2 {
                                        position: relative;
                                        padding: 0 0 0 2.3vh;
                                        flex: 1 1 auto;

                                        font-size: 1.4vh;
                                        line-height: 2.13vh;
                                        font-weight: 400;
                                        color: #72767C;
                                        &:before {
                                            content:"";
                                            position: absolute;
                                            top:50%;
                                            left:0;
                                            transform: translateY(-50%);
                                            width: 1.85vh;
                                            height: 1.574vh;
                                            background: url("../img/booking/arrows.svg") 50%/ 1.85vh 1.5vh no-repeat;
                                        }
                                    }
                                    &__item-3 {
                                        font-size: 1.666vh;
                                        line-height: 2.13vh;
                                        font-weight: 500;
                                    }
                                }
                            }

                            &:nth-child(1) {
                                .picture-link {
                                    background: url("../img/booking/porsche.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(2) {
                                .picture-link {
                                    background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(3) {
                                .picture-link {
                                    background: url("../img/booking/lada.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(4) {
                                .picture-link {
                                    background: url("../img/booking/toyota.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(7) {
                                .picture-link {
                                    background: url("../img/booking/lada-2.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(6) {
                                .picture-link {
                                    background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(5) {
                                .picture-link {
                                    background: url("../img/booking/audi.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(8) {
                                .picture-link {
                                    background: url("../img/booking/toyota.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(9) {
                                .picture-link {
                                    background: url("../img/booking/porsche.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(10) {
                                .picture-link {
                                    background: url("../img/booking/audi-2.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(11) {
                                .picture-link {
                                    background: url("../img/booking/audi.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(12) {
                                .picture-link {
                                    background: url("../img/booking/toyota.png") 50%/contain no-repeat;
                                }
                            }
                            &:nth-child(15) {
                                .picture-link {
                                    background: url("../img/booking/lada-2.png") 50%/contain no-repeat;
                                }
                            }
                        }
                    }
                    .more {
                        text-align: center;
                        font-weight: 500;
                        font-size: 1.5vh;
                        line-height: 5vh;
                        letter-spacing: 0.1vh;
                        color: #72767C;
                    }
                }
                                            //все что выше только для первой страницы
            }
        }
    }
}

@media (max-width: 1023px) {
    $padding: 2vw;
    $margin: 2vw;
    body {
        padding: 3vw;
    }
    .wrapper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        .wrapper__row {
            //flex: 1 1 auto;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            details { //border: 1px solid royalblue;
                display: block;
                margin: 0 0 2vmin 0;
                padding: 2vh 1.5vh;
    
                border-radius: $border-radius;
                background: #ffffff;

                height: 7vh;
                transition: 0.2s linear;
                summary {
                    display: flex;
                    justify-content: space-between;
                    .link {
                        position: relative;
                        width: 3vh;
                        height: 3vh;
                        background: url("../img/logo.svg") 50%/95% no-repeat;
                        a {
                            padding: 0 0 0 4vh;

                            font-size: 2.7vh;
                            font-weight: 700;
                            line-height: 120%;
                            color: #5F6165;
                        }
                    }
                    .burger {
                        margin: 0 0.6vh 0 2vh;
                        width: 3vh;
                        height: 3vh;
                        background: url("../img/burger.svg") 50%/100% no-repeat;
                    }
                }
                .container {
                    margin: 1vh 0 0 0;
                    a {
                        display: inline-block;
                        width: 100%;
                        margin: $margin 0 0 0;
                        padding: 0 0 0 5.7vh;
                        
                        border-radius: $border-radius;
                        font-weight: 500;
                        font-size: 2vh;
                        line-height: 250%;
                        color: #5F6165;

                        &:nth-child(1) {
                            background: url("../img/dashboard.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/dashboard.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(2) {
                            color: #c3c6ca;
                            background: url("../img/assets.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/assets.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(3) {
                            position: relative;
                            &:after {
                                content:"new";
                                font-size: 0.8em;
                                color: #87d762;
                                position: absolute;
                                right: 1.5vh;
                                top: 0;
                            }
                            background: #F3F5F8 url("../img/booking.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/booking.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(4) {
                            color: #c3c6ca;
                            background: url("../img/sell.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/sell.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(5) {
                            color: #c3c6ca;
                            background: url("../img/buy.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/buy.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(6) {
                            color: #c3c6ca;
                            background: url("../img/services.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/services.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(7) {
                            color: #c3c6ca;
                            background: url("../img/calendar.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/calendar.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                        &:nth-child(8) {
                            color: #c3c6ca;
                            background: url("../img/messages.svg") 1.5vh 50%/3vh no-repeat;
                            &:hover {
                                background: #f8fafd url("../img/messages.svg") 1.5vh 50%/3vh no-repeat;
                            }
                        }
                    }
                }
                &[open] {
                    height: 60vh;
                    transition: 0.2s linear;
                    .burger {
                        background: url("../img/cross.svg") 50%/80% no-repeat;
                    }
                }
            }
            .wrapper__column-left {
                display: none;
            }
            .wrapper__column-right {
                display: flex;
                flex-direction: column;
                //width: 68vmin;
                flex: 0 1 auto;
                overflow: hidden;
    
                border-radius: $border-radius;
                .header {
                    width: 100%;
                    height: 7vh;
                    margin: 0 0 2vmin 0;
                    padding: 1.5vh;
    
                    border-radius: $border-radius;
                    background: #ffffff;
    
                    &__row {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    &__column-left {
                        height: 100%;
                        .input {
                            height: 100%;
                            position: relative;
                            &:before {
                                content:"";
                                cursor: pointer;
                                display: inline-block;
                                height: 100%;
                                width: 3vh;
                                position: absolute;
                                left: 0.4vh;
                                top: 50%;
                                transform: translateY(-50%);
                
                                border-radius: 8px;
                                background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
                            }
                            input {
                                max-width: 23.777vh;
                                height: 100%;
                                background: #F5F4F6;
                                border-radius: 8px;
                                font-weight: 500;
                                font-size: 1.6vh;
                                line-height: 100%;
                                padding: 0 0 0 4vh;
                                caret-color: #EF9011;
                            }
                        }
                    }
                    &__column-right {
                        height: 100%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        .notification {
                            cursor: pointer;
                            height: 100%;
                            width: 1.85vh;
                            margin-right: 2vh;
    
                            background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
                        }
                        .profile {
                            height: 4.444vh;
                            width: 4.444vh;
                            background: url("../img/profile.png") 50%/4.444vh no-repeat;
                            border-radius: 50%;
                        }
                    }
                }
                .content {
                
                    flex: 1 1 85vh;
                    
                    border-radius: $border-radius;
                    overflow-y: auto;
                    overflow-x: hidden;
    
                    -ms-overflow-style: none;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }
                                                //все что ниже только для первой страницы
    
                    .container { //border: 1px solid red;
                        min-height: 100%;
                        display: flex;
                        flex-direction: column; 
                        
                        h1 {
                            margin: 2.777vmin 0;
    
                            font-size: 2.777vh;
                            font-weight: 700;
                            line-height: 130%;
                            color: #242731;
                        }
                        .options { 
                            display: flex;
                            justify-content: space-between;
                            height: 4vh;
                            margin: 0 0 5vmin 0;
                        }
                        .car-list { 
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
    
                            margin: 0 -1vmin;
                            .card-container {
                                flex: 1 1 30vh;
                                //height: 24.722vh;
                                padding: 0 1vmin;
                                margin: 0 0 2vmin 0;
                                .card {
                                    padding: 2vh;
                                    height: 100%;
                                    transition: 0.1s linear;
                                    &:hover {
                                        transform: none;
                                        box-shadow: none;
                                    }
                                    .picture-link { 
                                        height: 15.722vh;
                                    }
                                    .row-1 { 
                                        .title {
                                            font-size: 2.5vh;
                                        }
                                        .like-label {
                                            width: 2.85vh;
                                            height: 2.666vh;
                                            background: url("../img/booking/like.svg") 50%/2.85vh 2.666vh no-repeat;
                                            cursor: pointer;
                                        }
                                        .like-input {
                                            position: absolute;
                                            left: -9999px;
                                            &:checked + label {
                                                background: url("../img/booking/like-hover.svg") 50%/2.85vh 2.666vh no-repeat;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                                                //все что выше только для первой страницы
                }
            }
        }
    } 
}