@import "null-style.scss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

//border: 1px solid red;

$border-radius: 1.5vh;
$padding: 2vh;
$margin: 2vh;

html {
    font-size: 16px;
  }

body {
    font-family: "DM Sans", sans-serif;
    background: #f5f5f5;
    padding: 3vh;
}

.wrapper-container {//border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.wrapper {//border: 5px solid yellowgreen;
    display: flex;

    flex: 0 1 117vmin;                  //изменение ширины на весь экран для больших моников
    
    max-width: 100%;
    min-height: 100%;
    .wrapper__row {
        flex: 1 1 auto;
        display: flex;
        .wrapper__column-left {
            width: 21vmin;
            margin-right: $margin;
            background: #ffffff;
            border-radius: $border-radius;
            padding: $padding;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .wrapper__column-left__top {
                margin-bottom: $margin;

                .wrapper__column-left__top-item {
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 0.75vh 0;
                    padding: 0 0 0 3.5vh;
                    position: relative;

                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 1.4vh;
                    line-height: 250%;

                    color: #5F6165;

                    &:first-child {
                        font-size: 2.5vh;
                        font-weight: 700;
                        line-height: 140%;
                        background: none;
                        margin: 0 0 2.5vh 0;
                        background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
                    }
                    &:last-child {
                        margin: 0 0 0 0;
                    }

                    &:nth-child(2) {
                        background: #ffffff url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/dashboard.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(3) {
                        color: #c3c6ca;
                        background: url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/assets.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(4) {
                        background: #F3F5F8 url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
                        &:after {
                            content:"new";
                            font-size: 0.8em;
                            color: #a1e083;
                            position: absolute;
                            right: 1vh;
                            top: 0;
                        }
                        &:hover {
                            background: #f8fafd url("../img/booking.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(5) {
                        color: #c3c6ca;
                        background: url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/sell.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(6) {
                        color: #c3c6ca;
                        background: url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/buy.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(7) {
                        color: #c3c6ca;
                        background: url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/services.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(8) {
                        color: #c3c6ca;
                        background: url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/calendar.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:nth-child(9) {
                        color: #c3c6ca;
                        background: url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/messages.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                }
            }
            .wrapper__column-left__bottom {

                .wrapper__column-left__bottom-item {
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 0.75vh 0;
                    padding: 0 0 0 3.5vh;
                    position: relative;

                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 1.4vh;
                    line-height: 250%;

                    color: #5F6165;
                    &:nth-child(1) {
                        color: #c3c6ca;
                        background: url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/settings.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                    &:last-child {
                        color: #c3c6ca;
                        margin: 0 0 0 0;
                        background: url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
                        &:hover {
                            background: #f8fafd url("../img/log-out.svg") 1vh 50%/1.85vh no-repeat;
                        }
                    }
                }
            }
        }
        .wrapper__column-right {
            display: flex;
            flex-direction: column;
            flex: 1 1 68vmin;

            border-radius: $border-radius;
            .header {
                width: 100%;
                height: 7vh;
                margin: 0 0 $margin 0;
                padding: 1.5vh;

                border-radius: $border-radius;
                background: #ffffff;

                &__row {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__column-left {
                    height: 100%;
                    .input {
                        height: 100%;
                        position: relative;
                        &:before {
                            content:"";
                            cursor: pointer;
                            display: inline-block;
                            height: 100%;
                            width: 3vh;
                            position: absolute;
                            left: 0.4vh;
                            top: 50%;
                            transform: translateY(-50%);
            
                            border-radius: 8px;
                            background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
                        }
                        input {
                            width: 27.777vh;
                            height: 100%;
                            background: #F5F4F6;
                            border-radius: 8px;
                            font-weight: 500;
                            font-size: 1.6vh;
                            line-height: 100%;
                            padding: 0 0 0 4vh;
                            caret-color: #EF9011;
                        }
                    }
                }
                &__column-right {
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    .notification {
                        cursor: pointer;
                        height: 100%;
                        width: 1.85vh;
                        margin-right: 2vh;

                        background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
                    }
                    .profile {
                        height: 4.444vh;
                        width: 4.444vh;
                        background: url("../img/profile.png") 50%/4.444vh no-repeat;
                        border-radius: 50%;
                    }
                }
            }
            .content {
                
                flex: 1 1 85vh;
                
                border-radius: $border-radius;
                overflow-y: auto;
                overflow-x: hidden;

                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
                                            //все что ниже только для первой страницы

                .container { //border: 1px solid red;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column; 
                    
                    h1 {
                        margin-bottom: 2.777vh;

                        font-size: 2.777vh;
                        font-weight: 700;
                        line-height: 130%;
                        color: #242731;
                    }
                    
                }
                                            //все что выше только для первой страницы
            }
        }
    }
}

@media (max-width: 1023px) {
    $padding: 2vw;
    $margin: 2vw;
    body {
        padding: 3vw;
    }
    .wrapper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        .wrapper__row {
            //flex: 1 1 auto;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            .wrapper__column-left {//border: 1px solid royalblue;
                height: 7vh;
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                background: #ffffff;
                border-radius: $border-radius;
                padding: 2vh 1.5vh;
                margin: 0 0 2vmin 0;
                .wrapper__column-left__top {//border: 1px solid red;
                    margin: 0;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    .wrapper__column-left__top-item {//border: 1px solid royalblue;
                        width: 100%;
                        padding: 0 0 0 3.5vh;
                        position: relative;
    
                        border-radius: 0;
                        font-weight: 500;
                        font-size: 1.4vh;
                        line-height: 250%;
    
                        color: #5F6165;
    
                        &:first-child {
                            font-size: 2.5vh;
                            font-weight: 700;
                            line-height: 100%;
                            background: none;
                            margin: 0 0 0 0;
                            background: url("../img/logo.svg") 0 50%/2.5vh no-repeat;
                            &:after {
                                content:"";
                                width: 2.5vh;
                                height: 2.5vh;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                background: url("../img/burger.svg") 0 50%/2.5vh no-repeat;
                            }
                        }
                    }
                    .blank {
                        display: none;
                    }
                }
                .wrapper__column-left__bottom {
                    display: none;
                }
            }
            .wrapper__column-right {
                display: flex;
                flex-direction: column;
                //width: 68vmin;
                flex: 0 1 auto;
                overflow: hidden;
    
                border-radius: $border-radius;
                .header {
                    width: 100%;
                    height: 7vh;
                    margin: 0 0 2vmin 0;
                    padding: 1.5vh;
    
                    border-radius: $border-radius;
                    background: #ffffff;
    
                    &__row {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    &__column-left {
                        height: 100%;
                        .input {
                            height: 100%;
                            position: relative;
                            &:before {
                                content:"";
                                cursor: pointer;
                                display: inline-block;
                                height: 100%;
                                width: 3vh;
                                position: absolute;
                                left: 0.4vh;
                                top: 50%;
                                transform: translateY(-50%);
                
                                border-radius: 8px;
                                background: #F5F4F6 url("../img/search.svg") 50%/1.6vh no-repeat;
                            }
                            input {
                                max-width: 23.777vh;
                                height: 100%;
                                background: #F5F4F6;
                                border-radius: 8px;
                                font-weight: 500;
                                font-size: 1.6vh;
                                line-height: 100%;
                                padding: 0 0 0 4vh;
                                caret-color: #EF9011;
                            }
                        }
                    }
                    &__column-right {
                        height: 100%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        .notification {
                            cursor: pointer;
                            height: 100%;
                            width: 1.85vh;
                            margin-right: 2vh;
    
                            background: url("../img/notification.svg") 50%/1.85vh auto no-repeat;
                        }
                        .profile {
                            height: 4.444vh;
                            width: 4.444vh;
                            background: url("../img/profile.png") 50%/4.444vh no-repeat;
                            border-radius: 50%;
                        }
                    }
                }
                .content {
                    width: 100%;
                    //flex: 1 0 81vh;
                    flex: 1 1 auto;
                    
                    border-radius: $border-radius;
                    overflow-y: auto;
                    overflow-x: hidden;
    
                    -ms-overflow-style: none;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }
                    .container__row-3 {//border: 1px solid red;
                        width: 93.6vw;
                        overflow: hidden;
                        border-radius: $border-radius;
                    }
                }
            }
        }
    } 
}