@import "null-style.scss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

//border: 1px solid red;

$padding: 24px;
$margin: 24px;

body {
    font-family: "DM Sans", sans-serif;
    background: #F5F5F5;
}

.wrapper {border: 1px solid violet;
    display: flex;
    width: 68%;
    height: 100vh;
    padding: 32px;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    max-width: 15%;
    margin: 0 $margin 0 0;
    padding: $padding;
    border-radius: 16px;
    
    background: #ffffff;
    .nav__top {
        min-width: 100%;
        flex: 1 1 auto;
        margin: 0 0 $margin 0;
        .logo {
            display: inline-block;
            width: 100%;
            margin: 0 0 $margin 0;
            padding: 0 0 0 52px;

            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #1F2128;
            background: url("../img/logo.svg") 12px 50%/30px no-repeat;
        }
    }
    .nav__top a, .nav__bottom a {
        display: inline-block;
        width: 100%;
        border-radius: 8px;
        margin: 0 0 8px 0;
        padding: 10px 10px 10px 45px;

        font-weight: 500;
        font-size: 1.3rem;
        line-height: 100%;
        color: #5F6165;
    }

                                                            //иконки навигации

    .nav__top a:nth-child(2) {
        background: url("../img/dashboard.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/dashboard.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(3) {
        background: url("../img/assets.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/assets.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(4) {
        background: url("../img/booking.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/booking.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(5) {
        background: url("../img/sell.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/sell.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(6) {
        background: url("../img/buy.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/buy.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(7) {
        background: url("../img/services.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/services.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(8) {
        background: url("../img/calendar.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/calendar.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__top a:nth-child(9) {
        background: url("../img/messages.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/messages.svg") 10px 50%/22px no-repeat;
        }
    }


    .nav__bottom a:first-child {
        background: url("../img/settings.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/settings.svg") 10px 50%/22px no-repeat;
        }
    }
    .nav__bottom a:last-child {
        margin: 0 0 0 0;
        background: url("../img/log-out.svg") 10px 50%/22px no-repeat;
        &:hover {
            background: #f8fafd url("../img/log-out.svg") 10px 50%/22px no-repeat;
        }
    }
}

.main { border: 1px solid green;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px $padding;
        margin: 0 0 $margin 0;

        background: #ffffff;
        border-radius: 16px;
        .input {
            position: relative;
            &:before {
                content:"";
                cursor: pointer;
                display: inline-block;
                height: 100%;
                width: 30px;
                position: absolute;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);

                border-radius: 8px;
                background: #F5F4F6 url("../img/search.svg") 50%/16px no-repeat;
            }
            input {
                min-height: 30px;
                min-width: 300px;
                padding: 8px 8px 8px 42px;
                margin: 0 32px 0 0;
    
                border-radius: 8px;
                background: #F5F4F6;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                color: #7C7C8D;
                caret-color: #EF9011;
                &::placeholder {
                    color: #7c7c8d91;
                }
            }
        }
        .notification-profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 80px;
            height: 32px;
            .notification {
                width: 20px;
                height: 20px;
                background: url("../img/notification.svg") 50%/contain no-repeat;
            }
            .profile {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background: #ffffff url("../img/profile.png") 50%/35px no-repeat;
            }
        }
    }
}
